{% extends 'base.html.twig' %}

{% block title %}Contactos{% endblock %}

{% block body %}
    {{parent()}}
 
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
 <center>
<div class="container-fluid" style = "background-image:url('{{asset('images/user/perrotriste.jpg')}}') ">
    <div class="example-wrapper">
        <h1>Encuentranos! </h1>

        <p>  Dirección: Edmundo Chiriboga N45-70 y Elia Liut (Quito)</p>
    <p> Teléfono: 02 243-3932/0998693167/0988478550</p>

<p> Horario de atención de Lunes a Viernes de: 7:30 a 18:30</p>

<p> Sábado y Domingo de 7:30 a 17:30</p>

<p> Preguntas o sugerencias: info@puppyspetservices.com</p>
 
        
    </div>

    <div>
    <center>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3989.803093303983!2d-78.4910850501205!3d-0.1582956354786844!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d59abb13a29761%3A0xac62fe3138699038!2sCelco+Cia.+Ltda!5e0!3m2!1ses-419!2sec!4v1563926686469!5m2!1ses-419!2sec" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
     </center>
     </center>
    </div>
</div>
{% endblock %}
