{% extends 'base.html.twig' %}

{% block title %}Ayuda{% endblock %}

{% block body %}
    {{parent()}}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
  <body background="img/carousel/carusel5.jpg">
            

         <div class="example-wrapper">
    <h1>Contactate! ✅</h1>

<br>
<p>Av Ordoñez Lasso s/n<p/>
<p>Cuenca,<p/>
<p>Azuay 10215<p/>
<p>Phone: +(593 7) 409-0000<p/>
<br>
<p>Oficinas Quito<p/>
<p>Av. Shyris y Av. Eloy Alfaro<p/>
<p>N32 - 543<p/>
<p>Edif. Nuevolar Piso 10 Ofc. 10W<p/>
<p>Telfs. +593 2 225 5941<p/>
<p>Para mas informacion escribenos:<p/> <p>ventas_uio@petsitter.com
<p/>

</div>
<center>
<div class="col-sm-3 align='center'">

        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3989.796614106731!2d-78.48491078589859!3d-0.18899639986210343!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d59a7bbe0e1c7f%3A0x1a8c6a444b03a782!2sAv.+Eloy+Alfaro+%26+Av.+de+los+Shyris%2C+Quito+170102!5e0!3m2!1ses!2sec!4v1564616876657!5m2!1ses!2sec" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
       
            </div> </center>
 
</body>
{% endblock %}
