{% extends 'base.html.twig' %}

{% block title %}Edit Anfitrion{% endblock %}

{% block body %}
    <h1>Edit Anfitrion</h1>

    {{ include('anfitrion/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('anfitrion_index') }}">back to list</a>

    {{ include('anfitrion/_delete_form.html.twig') }}
{% endblock %}
