{% extends 'base.html.twig' %}

{% block title %}New Anfitrion{% endblock %}

{% block body %}
    <h1>Create new Anfitrion</h1>

    {{ include('anfitrion/_form.html.twig') }}

    <a href="{{ path('anfitrion_index') }}">back to list</a>
{% endblock %}
