<form method="post" action="{{ path('mascota_delete', {'id': mascotum.id}) }}" onsubmit="return confirm('Estas tú seguro que quieres eliminar a tu mascota?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ mascotum.id) }}">
    <button class="btn btn-danger">Eliminar</button>
</form>
