{% extends 'base.html.twig' %}

{% block title %}Nueva Mascota{% endblock %}

{% block body %}
    {{parent()}}
    <br>
        <div class="container">
            <h1 class="display-3 text-center">Registra tu mascota</h1>
            <br>
            <div class="row">
                <div class="col-md border-right">
                 {{ include('mascota/_form.html.twig') }}
                </div>
                <div class="col-sm-5">
                
                </div>
            </div>
            <a href="{{ path('mascota_index') }}" class="btn btn-primary">Volver</a>
        </div>
{% endblock %}

