{% extends 'base.html.twig' %}

{% block title %}Nueva Mascota{% endblock %}

{% block body %}
    {{parent()}}
    <br>

        <div class="container">
            <h1 class="display-3 text-center">Registra tu mascota</h1>
        <center>
    <div>
      <img src="{{ asset('img/mascota/cobAnf.jpg')}}" class="d-block w-50" alt="...">
      </div>
        </center>
            <br>
            <div class="row justify-content-md-center">
            <div class="row">
                <div class="col-md ">
                 {{ include('mascota/_form.html.twig') }}
                </div>
            </div>
            </div>
            <div class="row">
                <div class="col-md ">
            <a href="{{ path('mascota_index') }}" class="btn btn-secondary">Volver</a>
        </div>
        </div> 
{% endblock %}

