{% extends 'base.html.twig' %}

{% block title %}Cobro anfitri처n{% endblock %}

{% block body %}
<center>
      <h1 class="display-3">Cobro anfitri처n!</h1>
        <div>
      <img src="{{ asset('img/mascota/cobAnf.jpg')}}" class="d-block w-50" alt="...">
      </div>

      <br>
     <div class="row justify-content-md-center">  
     <div class="col-6">
    <table class="table table-striped" style="text-align:center;">
     <thead class="thead-dark">
        
            <tr>
                <th>N째</th>
                <th>Comisi처n</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
        {% for cobro_anf in cobro_anfs %}
            <tr>
                <td>{{ cobro_anf.id }}</td>
                <td>$ {{ cobro_anf.comision }} </td>
                 <td>
                    <a href="{{ path('cobro_anf_show', {'id': cobro_anf.id}) }}">
                    <button type="button" class="btn btn-info">Mirar</button></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
               
