{% extends 'base.html.twig' %}

{% block title %}New CobroAnf{% endblock %}

{% block body %}
    <h1>Create new CobroAnf</h1>

    {{ include('cobro_anf/_form.html.twig') }}

    <a href="{{ path('cobro_anf_index') }}">back to list</a>
{% endblock %}
