{% extends 'base.html.twig' %}

{% block title %}New CobroAnf{% endblock %}

{% block body %}
    <h1>Crear un nuevo Anfitrión</h1>

    {{ include('cobro_anf/_form.html.twig') }}

    <a href="{{ path('cobro_anf_index') }}">volver</a>
{% endblock %}
