{{ form_start(form) }}
	<center>
    {{ form_widget(form) }}
    <div class="text-center">
        <button class="btn btn-info">{{ button_label|default('Save') }}</button>
    </div>
    </center>
{{ form_end(form) }}
