{% extends 'base.html.twig' %}

{% block title %}New Paquete{% endblock %}

{% block body %}
 {{ parent()}}
    <h1 class="display-2 text-center">Crea tu Paquete</h1>

    {{ include('paquete/_form.html.twig') }}

    <a href="{{ path('paquete_index') }}" class="btn btn-success" >back to list</a>
{% endblock %}
