{% extends 'base.html.twig' %}

{% block title %}Nuevo Paquete{% endblock %}

{% block body %}
    {{ parent()}}
    <br>
        <div class="container">
            <h1 class="display-3 text-center">Crear tu nuevo paquete</h1>
            <br>
            <div class="center">
                <img src="{{ asset('img/mascotas_2.gif')}}" class="d-block w-100" width="50" height="200">
                <br>
                <div class="col-md border-right">
                    {{ include('paquete/_form.html.twig') }}
                </div>
                <div class="col-sm-5">
                <a href="{{ path('paquete_index') }}" class="btn btn-primary">back to list</a>
            </div>

            </div>  
        </div>
{% endblock %}
