<br><br>
<div class="cover-container  text-center p-3 mb-2   text-white" style="margin-top:20px; background-color: #16bf4e" >
    <footer class="mastfoot mt-auto">
        <div class="inner">
        <p>PETSITTER</p>
        </div>
    </footer>
    <blockquote class="blockquote text-center">
        <p class="mb-0">La mejor empresa, para dar alojamiento a tu mascota</p>
        <footer class="blockquote-footer">#<cite title="Source Title">1</cite></footer>
    </blockquote>
</div>