
<div class="cover-container d-flex w-100 h-100 p-2 mx-auto flex-column text-center  bg-dark text-white" style="margin-top:20px">
    <footer class="mastfoot mt-auto">
        <div class="inner">
        <p>PETSITTER</p>
        <p>Tu mascota en familia</p>
   <p> Quito - Ecuador</p>
        
        </div>
    </footer>

    <blockquote class="blockquote text-center">
     
       
        <div class="social ">

<ul>


<li><a href="http://www.facebook.com" class="icon-facebook2"><img src="{{asset('img/facebook.png')}}" > 
</a> 

<a href="http://www.twitter.com" class="icon-twitter"><img src="{{asset('img/twitter.png')}}" > 
</a> <a href="http://www.youtube.com" class="icon-facebook2"><img src="{{asset('img/youtube.png')}}" > 
</a>
</li>

</ul>
</div>
    </blockquote>

    <p class="m-0 text-center text-white">Copyright &copy; Derechos Reservados 2019</p>

</div>