<div class="cover-container w-100 h-100 p-3 mx-auto flex-column">
  <header class="mb-auto p-3 mb-2 text-white">
    <div class="text-white">
        <nav class="navbar navbar-dark bg-dark justify-content-center">
          <a class="nav-link active" href="{{path('home')}}">Home</a>
          <a class="nav-link" href="{{path('pago_cliente_index')}}">Pagos en linea</a>
          <a class="nav-link" href="{{path('transaccion_index')}}">Transacciones</a>
        </nav>
    </div>
  </header>
</div>