{% extends 'base.html.twig' %}

{% block title %}Edit Transaccion{% endblock %}

{% block body %}
    {{ parent()}}
<div class="container">
    <h1>Editar Transaccion</h1>

    {{ include('transaccion/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('transaccion_index') }}" class="btn btn-info">back to list</a>

    {{ include('transaccion/_delete_form.html.twig') }}
</div>
{% endblock %}
