{% extends 'base.html.twig' %}

{% block title %}New Transaccion{% endblock %}

{% block body %}
    {{ parent()}}
<div class="container">
    <h1>Create new Transaccion</h1>

    {{ include('transaccion/_form.html.twig') }}

    <a href="{{ path('transaccion_index') }}">back to list</a>
</div>
{% endblock %}
