{% trans_default_domain 'FOSUserBundle' %}

<div class="container text-center">
    <div class="fos_user_user_show">    
        <h1> Bienvenido   </h1>
    </div>
 <div class="fos_user_user_show">    
        <img src="{{ asset('img/carousel/bienvenido.jpg')}}" class="d-block w-100">
    </div>
    <br>
</div>
<div class="container">
    <div class="row">
        {% if is_granted("ROLE_ANFITRION") %}
        <div class="col-lg text-center">
            <p> Crea tu paquete promocional antes de continuar  </p>
            <span> 
                <a class="btn btn-primary" href="{{ path('mascota_new')}}"> Registrar</a>
            </span>
        </div>
        {% endif %}
        <div class="col-lg text-center">
            <p> Registra a tu mascota antes de continuar  </p>
            <span> 
                <a class="btn btn-primary" href="{{ path('mascota_new')}}"> Registrar</a>
            </span>
        </div>
        <div class="col-lg text-center">  
            <p> Mira los paquetes disponibles </p>
            <span> 
                <a class="btn btn-primary" href="{{ path('buy')}}"> Ir a comprar</a>
            </span>
        </div>
    </div>
</div>