{% trans_default_domain 'FOSUserBundle' %}

<div class="container text-center">
    <div class="fos_user_user_show">    
        <h1> Bienvenido a PETS  </h1>
    </div>
    <p> Registra a tu mascota antes de continuar  </p>
    <p> </p>
    <span> 
        <a class="btn btn-primary" href="{{ path('mascota_new')}}"> Registrar</a>
    </span>
</div>
<div class="container">


</div>