{% extends 'base.html.twig' %}

{% block title %}Nuevo Servicio{% endblock %}

{% block body %}
 {{ parent()}}
 <div class="container">
    <h1 class="display-2 text-center">Contrata tu servicio</h1>
    <br>
 
    <p class="display-5">Elige la hora de inicio y final para contratar tu servicio </p>
    
    {{ include('servicio/_form.html.twig') }}

    <a href="{{ path('servicio_index') }}" class="btn btn-secondary">Volver</a>
</div>
{% endblock %}
