{% extends 'base.html.twig' %}

{% block title %}New Servicio{% endblock %}

{% block body %}
    <h1>Create new Servicio</h1>

    {{ include('servicio/_form.html.twig') }}

    <a href="{{ path('servicio_index') }}">back to list</a>
{% endblock %}
